{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_store.css'%}">


{% endblock %}

{% block title %}F1 - Carrello{% endblock %}

{% block content %}


    <div class="store-container mt-4 ml-4 mr-4 mb-4 text-white">
        <div class="query-page-selector-container" align="right">
            <h1 class="ml-4 mt-2 f1-font-bold mt-2">Il tuo carrello</h1> 
            <div class="query-page-selector-container mt-2" align="right">    
                <a href="{% url 'store:store' %}">
                    <button class="mr-4 mt-2 f1-font-regular">Torna allo Store</button> 
                </a> 
            </div>
        </div>
        <hr class="solid ml-4 mr-4 divisore"></hr>

        <div class="container-fluid main_container text-white f1-font-regular" style="height: 78vh;">
            <section class="" style="text-align: center;">
                
				<div class="row d-flex justify-content-center align-items-center">
                    <div class="col">
                      	<div class="">
                        	<div class="card-body p-4" >
              
                          		<div class="row" >
              
                            		<div class="col-lg-7 card-product-preview" style="overflow-y: auto; max-height:70vh;">
              
                              			<div class="d-flex justify-content-between align-items-center mb-4">
                                			<div>
                                  				<p class="mb-0 mt-4 ml-1">Hai {{ totale_biglietti }} articoli nel tuo carrello</p>
                                			</div>
                              			</div>
              
										{% for istanza_biglietto in biglietti_carrello %}
											<div class="card mb-3 card-product-preview">
												<div class="card-body">
													<div class="d-flex justify-content-between">
														<div class="d-flex flex-row align-items-center">
															<div>
																<img src="{{istanza_biglietto.tipologia_biglietto.gestore_circuito.gestione_circuito.immagine_mappa}}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px; background-color: white; border-radius: 5px;">
															</div>
															<div class="ms-3 ml-4">
																<h5>{{ istanza_biglietto.tipologia_biglietto.gestore_circuito.gestione_circuito.nome }} - {{ istanza_biglietto.tipologia_biglietto.titolo }}</h5>
																<p class="small mb-0 text-left">Posto {{ istanza_biglietto.numero_posto }}</p>
															</div>
														</div>
														<div class="d-flex flex-row align-items-center">
															<div>
																<h5 class="mb-0">{{ istanza_biglietto.tipologia_biglietto.prezzo }} €</h5>
															</div>
															<a href="{% url 'store:cart' %}?remove={{istanza_biglietto.id}}" style="color: #cecece;">
																<i class="fa fa-trash ml-4" style="font-size: 25px; color: red;"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}

                            		</div>
                            	<div class="col-lg-5" style="padding-right: 0px;">
              
                              		<div class="card card-product-preview text-white rounded-3" style="overflow-y: auto; max-height:70vh;">
                                		<div class="card-body">
                                  			<div class="d-flex justify-content-between align-items-center" style="padding-bottom: 15px;">
                                    			<h4 class="mb-0">Dettagli del pagamento</h4>
                                    			<img src="{{ utente.immagine_profilo }}" class="img-fluid rounded-3" style="width: 45px; border-radius: 5px;" alt="Avatar">
                                  			</div>
              
                                  			<form class="mt-4 mx-auto">
												<div class="row" style="padding-bottom: 30px;">
													<div class="col-sm-5">
														<p class="mb-0 text-left">Intestatario carta</p>
													</div>
													<div class="col-sm-7">
														<p class="text-muted mb-0 text-left" >{{ utente.user.first_name }} {{ utente.user.last_name }}</p>
													</div>
												</div>
				
												<div class="row" style="padding-bottom: 30px;">
													<div class="col-sm-5" >
														<p class="mb-0 text-left">Numero carta</p>
													</div>
													<div class="col-sm-7">
														<p class="text-muted mb-0 text-left" >{{ utente.carta_credito }}</p>
													</div>
												</div>
				
												<div class="row" style="padding-bottom: 30px;">
													<div class="col-sm-5" >
														<p class="mb-0 text-left">Scadenza carta</p>
													</div>
													<div class="col-sm-7">
														<p class="text-muted mb-0 text-left" >{{ utente.scadenza_carta }}</p>
													</div>
												</div>
												<div class="row " style="padding-bottom: 30px;">
													<div class="col-sm-5">
														<p class="mb-0 text-left">CVV</p>
													</div>
													<div class="col-sm-7">
														<p class="text-muted mb-0 text-left" >{{ utente.cvv }}</p>
													</div>
												</div>
                                  			</form>
              
                                  	<hr class="my-4">
              
                                  	<div class="d-flex justify-content-between">
                                    	<p class="mb-2">Totale prodotti</p>
                                    	<p class="mb-2">{{ costo_totale_prodotti }} €</p>
                                  	</div>
									
									<!-- EVENTUALE SCONTO PREMIUM
										<div class="d-flex justify-content-between">
										<p class="mb-2">Shipping</p>
										<p class="mb-2">20.00 €</p>
									</div>-->
									
									<div class="d-flex justify-content-between mb-4">
										<p class="mb-2">Tasse</p>
										<p class="mb-2">{{ tasse }} €</p>
									</div>
									<hr class="solid divisore"></hr>
									<div class="d-flex justify-content-between mb-4">
										<p class="mb-2">Totale (Iva inclusa)</p>
										<p class="mb-2">{{ costo_totale_prodotti_tasse }} €</p>
									</div>

									<button type="button" style="width:175px;">Checkout<i class="fa fa-credit-card ml-2"></i></button>

                                </div>
							</div>
              
						</div>
              
					</div>
              
				</div>
			</section>
		</div>
            
	</div>
    
{% endblock %}