<div>
    <canvas id="myChart"></canvas>
</div>

<script>
	// for a week prior to today's date, iterate through the dates and get the number of orders for each day

	week_days = [];
	for (let i = 0; i < 7; i++) 
	{
		let date = new Date();
		date.setDate(date.getDate() - i);
		
		let dayNumber = date.getDate();
		let dayName = date.toLocaleDateString('it-IT', {weekday: 'long'});
		
		week_days.push(`${dayName} ${dayNumber}`);
	}

	week_days.reverse();
	


    
    const ctx_chart = document.getElementById('myChart');
  
    new Chart(ctx_chart, 
	{
      	type: 'bar',
      	data: 
		{
        	labels: week_days,
        	datasets: 
			[
				{
					label: "Settore 1",
					data: [3, 7, 4, 5, 2, 3, 4]
				},
				{
					label: "Settore 2",
					data: [4, 3, 5, 6, 1, 2, 3]
				},
				{
					label: "Settore 3",
					data: [7, 2, 6, 3, 4, 5, 6]
				},	
			]
      	},
      	options: 
	  	{
			scales: 
			{
				y: 
				{
					beginAtZero: true
				}
			}
		}
	});
  </script>