{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_store.css'%}">

{% endblock %}

{% block title %}F1 - Store{% endblock %}

{% block content %}

<div class="store-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
        <h1 class="ml-4 mt-2 f1-font-bold mt-2">Store</h1> 
        <div class="query-page-selector-container mt-2" align="right">
            
            <div class="dropdown f1-font-regular">
                <button class="mt-2 mr-4">Filtra articoli ▼</button>
                <div class="dropdown-content top-dropdown-content" align="left">         
                    <a href="{% url 'store:store' %}?filter=price_asc">Prezzo ▲</a>
                    <a href="{% url 'store:store' %}?filter=price_desc">Prezzo ▼</a>
                    <a href="{% url 'store:store' %}?filter=date_asc">Data ▲</a>
                    <a href="{% url 'store:store' %}?filter=date_desc">Data ▼</a>
                </div>
            </div>

            {% if tipologie_biglietti.has_previous %}
                <a href="{% url 'store:store' %}?page={{ request.GET.page|add:-1 }}{% if filter %}&filter={{filter}}{% endif %}">        
                    <button class="mr-2 mt-2 f1-font-regular">Precedente</button>  
                </a>
            {% else %}
                <button class="mr-2 mt-2 f1-font-regular disabled-button">Precedente</button> 
            {% endif %}

            <h2 class="ml-auto mt-2 mr-2 f1-font-regular">[ </h2>
            {% if request.GET.page %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">{{ request.GET.page }}</h2>
            {% else %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">1</h2>
            {% endif %}
            <h2 class="ml-auto mt-2 mr-2 f1-font-regular"> ]</h2>
            
            {% if tipologie_biglietti.has_next %}
                <a href="{% url 'store:store' %}?page={% if request.GET.page %}{{ request.GET.page|add:1 }}{% else %}2{% endif %}{% if filter %}&filter={{filter}}{% endif %}">
                    <button class="ml-auto mr-4 mt-2 f1-font-regular">Prossimo</button>    
                </a>
            {% else %}
                <button class="ml-auto mr-4 mt-2 f1-font-regular disabled-button">Prossimo</button> 
            {% endif %}

        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>

    <div class="container-fluid main_container text-white">
        <div class="row">
            {% for tipologia_biglietto in tipologie_biglietti %}
                
                {% with forloop_id=forloop.counter %}
                <div class="col-sm-3 mb-2 {% if tipologia_biglietto.amount <= 0 %}not-available{% endif %}" style="height: 43vh; padding: 10px;" style="display: block;">
                    
                    <div class="product-item mx-auto  card-product-preview f1-font-regular " style="">
                       
                        <a href="{% url 'info:circuito' pk=tipologia_biglietto.gestore_circuito.gestione_circuito.id %}">
                            <img class="mx-auto product-preview-image product-info" src="{{tipologia_biglietto.gestore_circuito.gestione_circuito.preview}}">
                        </a>
                        <div style="display: flex;">
                            <a href="{% url 'store:product' pk=tipologia_biglietto.id %}" class="f1-font-bold mx-auto product-info">
                                <p>{{ tipologia_biglietto.gestore_circuito.gestione_circuito.nome }} - Settore {{ tipologia_biglietto.settore }}</p>
                            </a>
                        </div>

                        <div class="row">
                            <p class="col-6" style="text-align: left;  left: 15px;">{{tipologia_biglietto.amount}} rimanenti</p>

                            <p class="col-6" style="text-align: right;  right: 15px;">{{ tipologia_biglietto.prezzo }} €</p>
                        </div>
                                    
                        <div class="row">
                            
                            <div class="col-6" style="">
                                {% if tipologia_biglietto.amount > 0 %}
                                <div class="dropdown f1-font-regular ml-2" >
                                    <button id=button{{ forloop_id }} class="dropdown-btn">Disponibilità ▲</button>
                                    <div class="dropdown-content bottom-dropdown-content">

                                        {% for istanza_biglietto in istanze_biglietti %}
                                            {% if istanza_biglietto.tipologia_biglietto == tipologia_biglietto %}
                                                <a class="ticket">Posto {{istanza_biglietto.numero_posto}}</a>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                                {% endif %}
                            </div>


                            <div class="col-6" style="text-align: right;">
                                <a href="{% url 'store:product' pk=tipologia_biglietto.id %}" class=" f1-font-regular mx-auto">
                                    <button class="f1-font-regular mr-2" style="width: 150px; height:40px; margin-bottom: 10px;">Vai al prodotto</button>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
                {% endwith %}
            {% endfor %}
            
        </div>
    
    </div>
</div>
    
{% endblock %}