{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_store.css'%}">

{% endblock %}

{% block title %}F1 - Store{% endblock %}

{% block content %}

<div class="store-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
        <h1 class="ml-4 mt-2 f1-font-bold mt-2">Store</h1> 
        <div class="query-page-selector-container mt-2" align="right">
            
            <div class="dropdown f1-font-regular">
                <button class="mt-2 mr-4">Filtra articoli</button>
                <div class="dropdown-content" align="left">         
                    <a href="">Prezzo ▲</a>
                    <a href="">Prezzo ▼</a>
                    <a href="">Data ▲</a>
                    <a href="">Data ▼</a>
                </div>
            </div>


            {% if highlights.has_previous %}
                <a href="{% url 'media:highlight' %}?page={{ request.GET.page|add:-1 }}">        
                    <button class="mr-2 mt-2 f1-font-regular">Precedente</button>  
                </a>
            {% else %}
                <button class="mr-2 mt-2 f1-font-regular disabled-button">Precedente</button> 
            {% endif %}

            <h2 class="ml-auto mt-2 mr-2 f1-font-regular">[ </h2>
            {% if request.GET.page %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">{{ request.GET.page }}</h2>
            {% else %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">1</h2>
            {% endif %}
            <h2 class="ml-auto mt-2 mr-2 f1-font-regular"> ]</h2>
            
            {% if highlights.has_next %}
                <a href="{% url 'media:highlight' %}?page={{ request.GET.page|add:1 }}">
                    <button class="ml-auto mr-4 mt-2 f1-font-regular">Prossimo</button>    
                </a>
            {% else %}
                <button class="ml-auto mr-4 mt-2 f1-font-regular disabled-button">Prossimo</button> 
            {% endif %}


        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>

    <div class="container-fluid main_container text-white">
        <div class="row">
            {% for tipologia_biglietto in tipologie_biglietti %}
                <div class="col-sm-3" style="height: 43vh; padding: 10px;" style="display: block;">
                    
                    <div class="product-item mx-auto  card-product-preview f1-font-regular " style="">
                        
                            <a href="{% url 'info:circuito' pk=tipologia_biglietto.gestore_circuito.gestione_circuito.id %}">
                                <img class="mx-auto product-preview-image product-info" src="{% static 'images\circuits\previews\Belgian_Grand_Prix.png' %}">
                            </a>
                            <div class="" style="display: flex;">
                                <p class="f1-font-bold mx-auto">{{ tipologia_biglietto.titolo }}</p>
                            </div>

                            <div class="row">
                                <p class="col-6" style="text-align: left;  left: 15px;">10 rimanenti</p>

                                <p class="col-6" style="text-align: right;  right: 15px;">{{ tipologia_biglietto.prezzo }} €</p>
                            </div>
                            
                            <div class="row">
                                <div class="col-6" style="">
                                    <div class="dropdown f1-font-regular ml-2" >
                                        <button class="dropdown-btn">Disponibilità ▲</button>
                                        <div class="dropdown-content">

                                            {% for istanza_biglietto in istanze_biglietti %}
                                                {% if istanza_biglietto.tipologia_biglietto == tipologia_biglietto %}
                                                    <a href="#" class="ticket">Posto {{istanza_biglietto.numero_posto}}</a>
                                                {% endif %}

                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>

                                <div class="col-6" style="text-align: right;">
                                    
                                        <a href="#" class=" f1-font-regular mr-2">
                                            <button class="f1-font-regular" style="width: 70px; height:40px;  margin-bottom: 10px;">
                                                <i class="fa fa-shopping-cart" style="font-size: 30px;"></i>
                                            </button>
                                        </a>
                                    
                                </div>
                            </div>




                        
                    </div>

                </div>
            {% endfor %}
    
            
        </div>
    
    </div>
</div>
    
{% endblock %}