{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_store.css'%}">

{% endblock %}

{% block title %}F1 - Store{% endblock %}

{% block content %}

<div class="store-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
        <h1 class="ml-4 mt-2 f1-font-bold mt-2">Store</h1> 
        <div class="query-page-selector-container mt-2" align="right">
            
            {% if highlights.has_previous %}
                <a href="{% url 'media:highlight' %}?page={{ request.GET.page|add:-1 }}">        
                    <button class="query-page-selector-button mr-2 mt-2 f1-font-regular">Precedente</button>  
                </a>
            {% else %}
                <button class="query-page-selector-button mr-2 mt-2 f1-font-regular disabled-button">Precedente</button> 
            {% endif %}

            <h2 class="ml-auto mt-2 mr-2 f1-font-regular">[ </h2>
            {% if request.GET.page %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">{{ request.GET.page }}</h2>
            {% else %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">1</h2>
            {% endif %}
            <h2 class="ml-auto mt-2 mr-2 f1-font-regular"> ]</h2>
            
            {% if highlights.has_next %}
                <a href="{% url 'media:highlight' %}?page={{ request.GET.page|add:1 }}">
                    <button class="query-page-selector-button ml-auto mr-4 mt-2 f1-font-regular">Prossimo</button>    
                </a>
            {% else %}
                <button class="query-page-selector-button ml-auto mr-4 mt-2 f1-font-regular disabled-button">Prossimo</button> 
            {% endif %}


        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>

    <div class="container-fluid main_container text-white">
        <div class="row">
                {% for tipologia_biglietto in tipologie_biglietti %}
                <div class="col-sm-3 bg-success" style="height: 37vh">
                    
                    <div class="product-item mx-auto mt-2 mb-2">
                        <a href="/">
                        
                        <img class="mx-auto" src="{% static 'images/registration/utente_registrazione.jpg' %}" style="height: 10vh;">
                        <h3>{{ tipologia_biglietto.titolo }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">$18.00</span>
                        <div class="d-flex align-items-center justify-content-between">

                            <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}    
            </div>
        </div>
    
        <!--
        {% for tipologia_biglietto in tipologie_biglietti %}
            <a href="" class="ml-4 mr-4 mb-2">
                <div>
                    <img class="" src="{% static 'images/registration/utente_registrazione.jpg' %}">
                    <i class="icon icon-play video-icon"></i>
                </div>
                <div class="mt-2">
                    <p class="highlight-name f1-font-regular">{{ tipologia_biglietto.titolo }}</p>
                </div>
            </a>

        {% endfor %}-->




        <!--
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

              <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
              
                <div class="col">
                  <div class="product-item">
                    <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                    <figure>
                      <a href="product-single.html" title="Product Title">
                        <img src="{% static 'images/registration/utente_registrazione.jpg' %}" class="tab-image">
                      </a>
                    </figure>
                    <h3>Sunstar Fresh Melon Juice</h3>
                    <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                    <span class="price">$18.00</span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                          <span class="input-group-btn">
                              <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                              </button>
                          </span>
                          <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                          <span class="input-group-btn">
                              <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                  <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                              </button>
                          </span>
                      </div>
                      <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                    </div>
                  </div>
                </div>

              </div>
              
            </div>
        </div>-->



        
    </div>
</div>
    
{% endblock %}