{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %} 

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style_profilo.css'%}">

{% endblock %}

{% block title %} F1 - Profilo {{ form.user_group_name }} {% endblock %} 

{% block header1 %}
	<h1>Dati del profilo di {{ user.username }}</h1>
{% endblock %}

{% block content %} 


<div class="card f1-font-regular ml-4 mr-4 mt-4 mx-auto text-white" style="max-width: 90vh; max-height: 90vh; position: relative; overflow-y: auto;">
    
    <div class="ml-4 mr-4 mt-2 mx-auto white-text" style="display: flex;" align="center">
        <h1 class="mt-2 mb-2 f1-font-bold">Dati di {{ user.username }}</h1>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>
    <div class="mx-auto mt-2 mb-2">
        <form method="POST" action="{% url 'store:modify_update' pk=request.user.utente.pk %}">
            {% csrf_token %}
            {{ form | crispy }}

            <div class="mx-auto" style="width: 150px;">
                <button type="submit" class="profile-button" style="width: 150px;">Salva</button>   
            </div>

        </form>
    </div>
    
</div>

{% endblock %}

{% block footer %} {% endblock %}