{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style_profilo.css'%}">

{% endblock %}

{% block title %} F1 - Profilo {{ form.user_group_name }} {% endblock %} 

{% block header1 %}
	<h1>Pagina del profilo di {{ user.username }}</h1>
{% endblock %}

{% block content %} 

	{% if utente %}
		<!-- Dati utente -->
		<div class="profilo-container text-white f1-font-bold">
			<div id="profile" class="background-profile-darker" style="overflow-x: hidden;">
				<div class="row">
				<div class="col-lg-4">
					<div class="card-body text-center background-profile">
						<img src="{{ utente.immagine_profilo }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
						<h6 class="my-3">{{ user.username }}</h6>
						
						<br>
						<p class="text-muted mb-0">Ultimo accesso 12/31/2311</p>
					</div>
				</div>
		
				<div class="col-lg-8">
					<div class="background-profile mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Nome</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">Johnatan Smith</p>
								</div>
							</div>
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Indirizzo Email</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">email@email.com</p>
								</div>
							</div>
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Paese</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">Italia</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Telefono</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">3333333333</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Premium</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">26/06/2023</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Carta di credito</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">4444444444444444</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">Scadenza carta</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">26/06/2023</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<p class="mb-0">CVV</p>
								</div>
								<div class="col-sm-8">
									<p class="text-muted mb-0">***</p>
								</div>
							</div>
						</div>

						






					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center mt-4">		
				<button type="button" class="btn btn-primary">Modifica profilo</button>
			</div>
				
		</div>
		
		<!-- Ordini -->
		<div class="background-profile card">
			<h2 class="mx-auto f1-font-bold mt-2">I tuoi ordini</h2>
			<table class="order-table mt-3">
				<tr>
					<th class="white-cell f1-font-bold">Articolo</th>
					<th class="white-cell f1-font-bold">Data acquisto</th>
					<th class="white-cell f1-font-bold">Prezzo</th>
				</tr>
				<tr>
					<th class="white-cell f1-font-regular">BIGLIETTO 1</td>
					<th class="white-cell f1-font-regular">26/06/2023</td>
					<th class="white-cell f1-font-regular">59,99€</td>
				</tr>
				<tr>
					<th class="white-cell f1-font-regular">BIGLIETTO 2</td>
					<th class="white-cell f1-font-regular">26/06/2023</td>
					<th class="white-cell f1-font-regular">59,99€</td>
				</tr>
				<tr>
					<th class="white-cell f1-font-regular">BIGLIETTO 3</td>
					<th class="white-cell f1-font-regular">26/06/2023</td>
					<th class="white-cell f1-font-regular">59,99€</td>
				</tr>

			</table>
		</div>
	{% endif %}
	
{% endblock %}

{% block footer %} {% endblock %}