<!-- Modal per cambio immagine profilo -->
<div id="modal-profile-image" class="modal modal-background f1-font-bold text-white" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content background-profile">
            <div class="modal-header background-profile">
                <h5 class="modal-title">Carica un'immagine profilo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <span aria-hidden="true" onclick="closeModal()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'store:profile' %}">
                    {% csrf_token %}
                    <input type="file" class="btn" name="profile-image-file" accept=".png, .jpeg, .jpg">
                    <button id="profile-upload-button" type="submit" style="display: none;">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Chiudi</button>
                <button type="button" class="btn profile-button" onclick="selectProfileImage()">Carica</button>
                <script>
                    function selectProfileImage() 
                    {
                        document.getElementById('profile-upload-button').click();
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<!-- Modal per errore -->
{% if messages %}
    {% for message in messages %}
        <div class="modal fade modal-background f1-font-bold text-white" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content background-profile">
                    <div class="modal-header background-profile">
                        <h5 class="modal-title" id="errorModalLabel">{{ message.level_tag }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<script>
    $(document).ready(function() 
    {
        {% if messages %}
            $('#errorModal').modal('show');
        {% endif %}
    });
</script>