body
{
    background-repeat: no-repeat;   
    overflow-y: auto;
    overflow-x: hidden; 
    background-size: cover;
    background-attachment: fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;*/
}

.navbar
{
    background-color: #221c43;
    margin: 0%;
    padding: 0%;
}

.nav-item a:hover
{
    filter: brightness(70%); /* Le icone della navbar estesa diventano più scure quando ci si passa sopra con il mouse */
}

.navbar-brand:hover .fa 
{
    filter: brightness(70%); /* Le icone della navbar compatta diventano più scure quando ci si passa sopra con il mouse */
}


.nav-link 
{
    color:white !important;
}

.container 
{
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 
{
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 
{
    opacity: 0;
}
  
.change .bar3 
{
    transform: translate(0, -11px) rotate(45deg);
}

.card
{
    background-color: #221c43d2;
}

.utente
{
    color: white;
}

/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgba(255, 255, 255, 0.507); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: rgba(122, 122, 122, 0.507); 
}



#container 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
  
#news 
{
    height: calc(65vh); /* Adjust padding value as needed */
    overflow-y: auto;
}

.divisore
{
    background: white;
}
  
img 
{
    max-width: 100%;
    height: auto;
}

#homepage-table-div
{
    border-collapse: collapse;
    max-height: calc(65vh);
    overflow-y: auto;
}



th, td 
{
    padding: 10px;
    border: 1px solid black;
}

.white-cell
{
    border: 2px solid rgba(255, 255, 255, 0.507);
}

#footer 
{
    background-color: #221c43d2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}

@media (max-width: 768px), (max-height: 860px) 
{
    #footer 
    {
        display: none;
    }
}

@font-face 
{
    font-family: "F1-font-bold";
    src: url('../font/Formula1-Bold_web_0.ttf');
}

@font-face 
{
    font-family: "F1-font-regular";
    src: url('../font/Formula1-Regular_web_0.ttf');
}

.f1-font-regular
{
    font-family: "F1-font-regular";
}

.f1-font-bold
{
    font-family: "F1-font-bold";
}
