.highlight-container
{
    background-color: #221c43d2;
}

.video-preview-container
{
    text-align: center;
}

.card-video-preview
{
    border-radius: 10px;
    background: black;
    font-weight: bold;
    color: white;
}

.video-preview 
{
    width: 30%;
    height: 30%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.video-highlight:hover
{
    filter: brightness(125%);
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    transform: scale(1.04);
}

.video-highlight:not(:hover)
{
    filter: brightness(100%);
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
    transform: scale(1);
}

.card-video-preview:hover
{
    text-decoration: none;
    color: white;
}

.query-page-selector-container
{
    justify-content: space-between;
    align-items: right;
    display: flex;
}

.query-page-selector-button
{
    background-color: #5144a0; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-height: 50px;
    height: 40px;
}

.query-page-selector-button:hover
{
    filter: brightness(70%); /* I bottoni per muoversi tra le pagine delle query diventano scuri se ci si mette il mouse sopra */
}