.store-container
{
    background-color: #221c43d2;
}

.query-page-selector-container
{
    justify-content: space-between;
    align-items: right;
    display: flex;
}


.query-page-selector-button:hover
{
    filter: brightness(70%); /* I bottoni per muoversi tra le pagine delle query diventano scuri se ci si mette il mouse sopra */
}

.product-info
{
    filter:brightness(100%);
    text-decoration: none;
    color: white;
}
.product-info:hover
{
    filter:brightness(70%);
    text-decoration: none;
    color: white;
}

.product-background-darker
{
    background-color: #17132ee5;
}

.card-product-preview
{
    border-radius: 10px;
    background-color: #17132ee5;
    font-weight: bold;
    color: white;
    overflow: hidden;
    border: solid 3px rgb(143, 109, 163);
}

.product-preview-image
{
    height: 25vh;
    display: flex;
    width: 100%;
}

button
{
    background-color: #5144a0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    height: 40px;
}


button:hover
{
    cursor: pointer;
    filter: brightness(70%); /* I bottoni per muoversi tra le pagine delle query diventano scuri se ci si mette il mouse sopra */
}

.dropdown-content
{
    display: none;
    position: absolute;
     /* Position the dropdown above the button */
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid #ddd;
    overflow-y: auto; 
    max-height: 300px; 
    z-index: 9999; /* Set a high z-index value to make it appear over everything */
}

.bottom-dropdown-content
{
    bottom: 100%;
}

.top-dropdown-content
{
    top: 100%;
}

/* Show the dropdown content when the button is hovered or focused */
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content 
{
    justify-content: center;
    text-align: center;
    display: block;
}

.ticket:focus
{
    background-color: rgb(116, 116, 116);
}

.ticket
{
    justify-content: center;
    text-align: center;
    padding: 0;
}

.not-available
{
    filter: grayscale(100%); /* I prodotti non disponibili diventano grigi */
}


