body
{
    background-repeat: no-repeat;   
    overflow-y: auto;
    overflow-x: hidden; 
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.navbar
{
    background-color: #221c43;
    margin: 0%;
    padding: 0%;
}

.nav-item a:hover
{
    filter: brightness(70%); /* Le icone della navbar estesa diventano più scure quando ci si passa sopra con il mouse */
}

.navbar-brand:hover .fa 
{
    filter: brightness(70%); /* Le icone della navbar compatta diventano più scure quando ci si passa sopra con il mouse */
}


.nav-link 
{
    color:white !important;
}

.container 
{
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 
{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 
{
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 
{
    opacity: 0;
}
  
.change .bar3 
{
    transform: translate(0, -11px) rotate(45deg);
}

.card
{
    background-color: #221c43d2;
}

.utente
{
    color: white;
}

/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background-color: rgb(114, 84, 133);
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgba(27, 1, 68, 0.507); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: rgba(7, 0, 17, 0.589); 
}

#container 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
  
#news 
{
    height: calc(65vh);
    overflow-y: auto;
}

#risultati-ultima-sessione
{
    height: calc(65vh);
    overflow-y: auto;
}

.divisore
{
    background: white;
}
  
img 
{
    max-width: 100%;
    height: auto;
}

#homepage-table-div
{
    border-collapse: collapse;
    max-height: calc(65vh);
    overflow-y: auto;
}

th, td 
{
    padding: 10px;
    border: 1px solid black;
}

#footer 
{
    background-color: #221c43d2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}

@media (max-width: 768px), (max-height: 860px) 
{
    #footer 
    {
        display: none;
    }
}

@font-face 
{
    font-family: "F1-font-bold";
    src: url('../font/Formula1-Bold_web_0.ttf');
}

@font-face 
{
    font-family: "F1-font-regular";
    src: url('../font/Formula1-Regular_web_0.ttf');
}

.f1-font-regular
{
    font-family: "F1-font-regular";
}

.f1-font-bold
{
    font-family: "F1-font-bold";
}

.modalfont
{
    font-family: "F1-font-bold";
    color: white;
}

.modal-background
{
    background-color: #221c43d2;
}

.modal-button
{
    background-color: #5144a0;
    border: hidden;
}

.modal-button:hover
{
    filter: brightness(70%);
    background-color: #5144a0;
    border: hidden;
}

.dropdown-nome-utente 
{
    position: relative;
    display: inline-block;
    font-family: "F1-font-bold";
    
}
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}
  
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform:capitalize;
}
  
.dropdown-content a:hover 
{
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content 
{
    display: block;
}

.disabled-button
{
    filter: brightness(50%);
}

.notification-color
{
    color: rgba(255, 0, 0, 0.700);
}

@keyframes fade 
{
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}                                                                                                                                                                                                                                  

@-webkit-keyframes fade 
{
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
}

.blink 
{
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.white-text
{
    color: white;
}

.dropdown.show .dropdown-menu 
{
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    background-color: #5144a0;
    font-family: "F1-font-regular";
    width: auto;
    max-height: 50vh;
    border-radius: 10px;
    overflow-y: auto;
}

.dropdown-item 
{
    color: white;
    background-color: #221c43;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid white;
}

.dropdown-toggle::after {
    display: none;
}

#profileDropdown {
    background-color: transparent;
    border: 0;
}

/* opacitá della pagina */
body.dimmed {
    filter: brightness(0.3);
    backdrop-filter: brightness(0.3);
}

.outer-shadow
{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.637);
}

.de-link
{
    text-decoration: none;
    color: white;
}

.de-link:hover
{
    text-decoration: none;
    color: white;
    filter: brightness(70%);
}
