@media (min-width: 768px) and (max-width: 991px) 
{
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item 
    {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) 
{
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item 
    {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) 
{
    .carousel-item 
    {
        margin-right: 0;		
    }

    /* show 2 items */
    .carousel-inner .active + .carousel-item 
    {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next 
    {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right 
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) 
{
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item 
    {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item 
    {
        transition: none;
    }
    .carousel-inner .carousel-item-next 
    {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) 
{
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item 
    {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item 
    {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item 
    {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.carousel-image
{
    border: 3px solid rgba(255, 255, 255, 0.712);
}

.carousel-image:hover
{
    filter: brightness(135%);
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}

.carousel-image:not(:hover)
{
    filter: brightness(100%);
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}

.risultati-ultima-sessione
{
    border-collapse: collapse;
    height: calc(12vh);    
    text-align: center; 
    overflow-y: scroll;

    border: 3px solid white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; 
    overflow: hidden;
}

.white-cell
{
    border: 1px solid rgba(255, 255, 255, 0.507);
    background-color: #131025;
}

.testo-news
{
    display: flex; 
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    text-decoration: none;
    color: white;
}

.testo-news:hover
{
    filter: brightness(70%);
    color: white;
    text-decoration: none;
}

.immagine-news
{
    display: flex; 
    align-items: center;
}

.immagine-news:hover
{
    filter: brightness(70%);
}

.f1-border--top-right
{
    border-top-right-radius: 25px;
    padding-top: 20px;
    padding-right: 20px;
    border-top: solid 10px #e10600;
    border-right: solid 10px #e10600;
    background: rgba(0, 0, 0, 0.514);
}

.data-news
{
    position: absolute;
    bottom: 3px;
    right: 20px;
    color: white;
}

@media (max-width: 1650px)
{
    .data-news 
    {
        visibility: hidden;
    }
}

.close 
{
    color: #ffffff; 
    opacity: 1;
}