.profilo-container 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    height: calc(85vh); /* Adjust padding value as needed */
}

.order-table
{
    border-collapse: collapse;
    overflow-y: auto;
}

.background-profile
{
    background-color: #221c43d2;
}

.background-profile-darker
{
    background-color: #17132ee5;
}