.sessioni-container
{
    background-color: #221c43d2;
    height:90%; 
    overflow-y: auto;
}

.query-page-selector-container
{
    justify-content: space-between;
    align-items: right;
    display: flex;
}

.query-page-selector-button
{
    background-color: #5144a0;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    max-height: 50px;
    height: 40px;
}

.query-page-selector-button:hover
{
    filter: brightness(70%)
}

.risultati-sessioni
{
    border-collapse: collapse;
    height: calc(40vh);    
    text-align: center; 
    border: 1px solid white;
}

.link-sessione
{
    text-decoration: none;
    color: white;
}

.link-sessione:hover
{
    filter: brightness(70%);

    color: white;
    text-decoration: none;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}
  
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform:capitalize;
}
  
.dropdown-content a:hover 
{
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content 
{
    display: block;
}