{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_highlight.css'%}">

{% endblock %}

{% block title %} F1 - Highlight {% endblock %}

{% block content %}

    <div class="highlight-container mt-4 ml-4 mr-4 mb-4 text-white">
        <div class="query-page-selector-container" align="right">
            <h1 class="ml-4 mt-2 f1-font-bold mt-2">Highlight</h1> 
            <div class="query-page-selector-container mt-2" align="right">
                
                {% if highlights.has_previous %}
                    <a href="{% url 'media:highlight' %}?page={{ request.GET.page|add:-1 }}">        
                        <button class="query-page-selector-button mr-2 mt-2 f1-font-regular">Precedente</button>  
                    </a>
                {% else %}
                    <button class="query-page-selector-button mr-2 mt-2 f1-font-regular disabled-button">Precedente</button> 
                {% endif %}

                <h2 class="ml-auto mt-2 mr-2 f1-font-regular">[ </h2>
                {% if request.GET.page %}
                    <h2 class="ml-auto mt-2 mr-2 f1-font-regular">{{ request.GET.page }}</h2>
                {% else %}
                    <h2 class="ml-auto mt-2 mr-2 f1-font-regular">1</h2>
                {% endif %}
                <h2 class="ml-auto mt-2 mr-2 f1-font-regular"> ]</h2>
                
                {% if highlights.has_next %}
                    <a href="{% url 'media:highlight' %}?page={% if request.GET.page %}{{ request.GET.page|add:1 }}{% else %}2{% endif %}">
                        <button class="query-page-selector-button ml-auto mr-4 mt-2 f1-font-regular">Prossimo</button>    
                    </a>
                {% else %}
                    <button class="query-page-selector-button ml-auto mr-4 mt-2 f1-font-regular disabled-button">Prossimo</button> 
                {% endif %}

            </div>
        </div>
        <hr class="solid ml-4 mr-4 divisore"></hr>
        <div class="video-preview-container">

            {% for highlight in highlights %}
                <a href="{% url 'media:highlight_video' pk=highlight.id %}" class="card-video-preview video-preview ml-4 mr-4 mb-2">
                    <div>
                        <img class="video-highlight" src="{{highlight.preview}}">
                    </div>
                    <div class="mt-2">
                        <p class="highlight-name f1-font-regular">{{highlight.titolo}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}