{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style_homepage.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	<script src="{%static 'js/homepage_carousel.js'%}"></script>

{% endblock %}

{% block title %}F1 - Homepage{% endblock %}

{% block content %}

	<!-- Top content -->
	<div class="top-content">
		<div class="container-fluid">
			<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner row w-75 mx-auto" role="listbox">
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Monaco_Grand_Prix.png" class="img-fluid mx-auto d-block" alt="img1">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Spanish_Grand_Prix.png" class="img-fluid mx-auto d-block" alt="img2">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Canadian_Grand_Prix.png" alt="img3">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Austrian_Grand_Prix.png" alt="img4">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Austrian_Grand_Prix.png" alt="img5">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Austrian_Grand_Prix.png" alt="img6">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<div>
		<div id="container" class="text-white">
		  	<div id="news" class="card">
				<h1 class="mx-auto">News</h2>
				<hr class="solid ml-4 mr-4" style="background: white;"></hr>
				<div class="article ml-4">
					<h3>News 1</h3>
			  		<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_1.jpg" alt="News 1">
			  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<hr class="solid ml-4 mr-4" style="background: white;"></hr>
				<div class="article ml-4">
					<h3>News 2</h3>
			  		<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_2.jpg" alt="News 2">
			  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<hr class="solid ml-4 mr-4" style="background: white;"></hr>
				<div class="article ml-4">
					<h3>News 3</h3>
					<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_3.jpg" alt="News 2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
		  </div>
		
		  <div id="table" class="card" style="overflow-y: scroll;">
			<h1 class="mx-auto">Risultati ultima sessione</h2>
			<table style="text-align: center;">
			  <tr>
				<th>Posizione</th>
				<th>Pilota</th>
				<th>Miglior tempo</th>
			  </tr>
			  <tr>
				<td>Row 1, Cell 1</td>
				<td>Row 1, Cell 2</td>
				<td>Row 1, Cell 3</td>
			  </tr>
			  <tr>
				<td>Row 2, Cell 1</td>
				<td>Row 2, Cell 2</td>
				<td>Row 2, Cell 3</td>
			  </tr>
			  <tr>
				<td>Row 3, Cell 1</td>
				<td>Row 3, Cell 2</td>
				<td>Row 3, Cell 3</td>
			  </tr>
			  <tr>
				<td>Row 4, Cell 1</td>
				<td>Row 4, Cell 2</td>
				<td>Row 4, Cell 3</td>
			  </tr>
			  <tr>
				<td>Row 5, Cell 1</td>
				<td>Row 5, Cell 2</td>
				<td>Row 5, Cell 3</td>
			  </tr>
			  <tr>
				<td>Row 5, Cell 1</td>
				<td>Row 5, Cell 2</td>
				<td>Row 5, Cell 3</td>
			  </tr>
			  <tr>
				<td>Row 6, Cell 1</td>
				<td>Row 6, Cell 2</td>
				<td>Row 6, Cell 3</td>
			  </tr>
			</table>
		  </div>
		</div>
	</div>

	<!-- News e risultati ultima sessione 
	<div style="display: flex; justify-content: space-between; padding:20px">
		<div class="col-xl-4 stretch-card grid-margin" style="align-self: flex-start;">
			<div class="card text-white" style="overflow-y: scroll; width: 130vh; height: 60vh">
			<div class="card-body">
				<h2>Latest news</h2>

				<div class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
				<div class="pr-3">
					<h5>Virus Kills Member Of Advising Iran's Supreme</h5>
					<div class="fs-12">
					<span class="mr-2">Photo </span>10 Minutes ago
					</div>
				</div>
				<div class="rotate-img">
					<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_1.jpg" alt="thumb" class="img-fluid img-lg">
				</div>
				</div>

				<hr class="solid" style="background: white;"></hr>

				<div class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between">
				<div class="pr-3">
					<h5>Virus Kills Member Of Advising Iran's Supreme</h5>
					<div class="fs-12">
					<span class="mr-2">Photo </span>10 Minutes ago
					</div>
				</div>
				<div class="rotate-img">
					<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_2.jpg" alt="thumb" class="img-fluid img-lg">
				</div>
				</div>
				
				<hr class="solid" style="background: white;"></hr>

				<div class="d-flex pt-4 align-items-center justify-content-between">
				<div class="pr-3">
					<h5>Virus Kills Member Of Advising Iran's Supreme</h5>
					<div class="fs-12">
					<span class="mr-2">Photo </span>10 Minutes ago
					</div>
				</div>
				<div class="rotate-img">
					<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_3.jpg" alt="thumb" class="img-fluid img-lg">
				</div>
				</div>
				
			</div>
			</div>
		</div>

		<div class="card text-white" style="align-self: flex-end;  height: 60vh;">
		<table class="table">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
				<th scope="col">Test</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>Test1</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>Test2</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
				<td>Test3</td>
			</tr>
			</tbody>
		</table>
		<div>
	</div>-->


<!--
<center>
    <h1>
        {{titolo}}
    </h1>

    {% for utente in query_utenti %}
    <b>
        {{utente.nome}}, {{utente.cognome}}
    </b>
    {% endfor %}

    {% for news in object_list %}
    <ul>
        {{news.titolo}}<br>{{news.contenuto}}<br><br>
    </ul>
    {% endfor %}
    {% crispy form %}
</center>-->


{% endblock %}