{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style_homepage.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	<script src="{%static 'js/homepage_carousel.js'%}"></script>
	<script src="{%static 'js/show_modal.js'%}"></script>

{% endblock %}

{% block title %}F1 - Homepage{% endblock %}

{% block content %}

	{% if user.is_authenticated and "ok" in request.GET.login  %}

		<div id="successo_login_modal" class="modal fade modalfont" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header modal-background">
						<h5 class="modal-title">Benvenuto, {{ user.username }}!</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
				<div class="modal-body modal-background" style="display: flex; justify-content: center; align-items: center;">
					<p> La procedura di login è andata a buon fine </p>
				</div>
					<div class="modal-footer modal-background" style="display: flex; justify-content: center;">
						<button type="button" class="btn btn-info modal-button" data-dismiss="modal">Continua</button>
					</div>
				</div>
			</div>
		</div> 

		<script>
		$(document).ready(function(){
			$("#successo_login_modal").modal('show');
		});
		</script>

	{% endif %}

	<!-- Top content -->
	<div class="top-content mt-4">
		<div class="container-fluid">
			<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner row w-75 mx-auto" role="listbox">
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
						<a href="{% url 'info:monaco' %}">
							<img src="/static/images/circuits/previews/Monaco_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img1">
						</a>
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
						<img src="/static/images/circuits/previews/Spanish_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img2">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
						<img src="/static/images/circuits/previews/Canadian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img3">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
						<img src="/static/images/circuits/previews/Austrian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img4">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
						<img src="/static/images/circuits/previews/British_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img5">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
						<img src="/static/images/circuits/previews/Hungarian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img6">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<!-- News -->
	<div id="container" class="text-white">
		<div id="news" class="card" style="overflow-x: hidden;">
			<h2 class="mx-auto f1-font-bold mt-2">NEWS</h2>
			{% for notizia in news %}
				<a href="{{ notizia.link_news }}" target="_blank">
					<hr class="solid ml-4 mr-4 divisore"></hr>
					<div class="article ml-4 mt-2 mb-2 container">
						<div class="row f1-border--top-right" style="max-width: 98%;">
							<div class="col-sm-5 immagine-news">
								<img src="{{ notizia.immagine }}">
							</div>
							<div class="col-sm-7 testo-news" align="center">
								<h3 class="f1-font-regular">{{ notizia.titolo }}</h3>
								<div class="data-news f1-font-regular">{{ notizia.data }}</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
			<hr class="solid ml-4 mr-4 divisore"></hr>
			<div class="article ml-4">
				<h3 class="f1-font-regular">News 2</h3>
				<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_2.jpg" alt="News 2">
				<p class="f1-font-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<hr class="solid ml-4 mr-4 divisore"></hr>
			<div class="article ml-4">
				<h3 class="f1-font-regular">News 3</h3>
				<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_3.jpg" alt="News 2">
				<p class="f1-font-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
	
		<!-- Risultati ultima sessione -->
		<div id="homepage-table-div" class="card">
			<h2 class="mx-auto f1-font-bold mt-2">Risultati {{ tipo_sessione }} - {{ nome_circuito }}</h2>
			<table class="risultati-ultima-sessione mt-3">
				<tr>
					<th class="white-cell f1-font-bold">POSIZIONE</th>
					<th class="white-cell f1-font-bold">PILOTA</th>
					<th class="white-cell f1-font-bold">MIGLIOR TEMPO</th>
				</tr>
				{% for partecipazione in partecipazioni %}
				<tr>
					<th class="white-cell f1-font-regular">{{ partecipazione.posizione }}</td>
					<th class="white-cell f1-font-regular">{{ partecipazione.pilota.nome }}</td>
					<th class="white-cell f1-font-regular">{{ partecipazione.miglior_tempo }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
	
	




	<footer id="footer">
		<div id="footer-content">
			<a class="f1-font-regular" href="https://moodle.unimore.it/pluginfile.php/664168/mod_amanote/content/1/Progetti_esame.pdf" target="_blank">Traccia d'esame</a>
		</div>
	</footer>

{% endblock %}