{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style_homepage.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	<script src="{%static 'js/homepage_carousel.js'%}"></script>

{% endblock %}

{% block title %}F1 - Homepage{% endblock %}

{% block content %}

	<!-- Top content -->
	<div class="top-content mt-4">
		<div class="container-fluid">
			<div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner row w-75 mx-auto" role="listbox">
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Monaco_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img1">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Spanish_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img2">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Canadian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img3">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Austrian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img4">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Austrian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img5">
					</div>
					<div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" style="margin: auto;">
						<img src="https://media.formula1.com/content/dam/fom-website/races/2023/Austrian_Grand_Prix.png" class="img-fluid d-block carousel-image" alt="img6">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<!-- News -->
	<div>
		<div id="container" class="text-white">
		  	<div id="news" class="card">
				<h1 class="mx-auto">News</h2>
				<hr class="solid ml-4 mr-4" style="background: white;"></hr>
				<div class="article ml-4">
					<h3>News 1</h3>
			  		<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_1.jpg" alt="News 1">
			  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<hr class="solid ml-4 mr-4" style="background: white;"></hr>
				<div class="article ml-4">
					<h3>News 2</h3>
			  		<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_2.jpg" alt="News 2">
			  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<hr class="solid ml-4 mr-4" style="background: white;"></hr>
				<div class="article ml-4">
					<h3>News 3</h3>
					<img src="https://www.bootstrapdash.com/demo/world-time/assets/images/dashboard/home_3.jpg" alt="News 2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		
			<!-- Risultati ultima sessione -->
			<div id="table" class="card">
				<h1 class="mx-auto">Risultati ultima sessione</h1>
				<table style="text-align: center; border: 1px solid white;">
					<tr>
						<th class="white-cell">Posizione</th>
						<th class="white-cell">Pilota</th>
						<th class="white-cell">Miglior tempo</th>
					</tr>
					<tr>
						<th class="white-cell">Row 1, Cell 1</td>
						<th class="white-cell">Row 1, Cell 2</td>
						<th class="white-cell">Row 1, Cell 3</td>
					</tr>
					<tr>
						<th class="white-cell">Row 2, Cell 1</td>
						<th class="white-cell">Row 2, Cell 2</td>
						<th class="white-cell">Row 2, Cell 3</td>
					</tr>
					<tr>
						<th class="white-cell">Row 3, Cell 1</td>
						<th class="white-cell">Row 3, Cell 2</td>
						<th class="white-cell">Row 3, Cell 3</td>
					</tr>
					<tr>
						<th class="white-cell">Row 4, Cell 1</td>
						<th class="white-cell">Row 4, Cell 2</td>
						<th class="white-cell">Row 4, Cell 3</td>
					</tr>
					<tr>
						<th class="white-cell">Row 5, Cell 1</td>
						<th class="white-cell">Row 5, Cell 2</td>
						<th class="white-cell">Row 5, Cell 3</td>
					</tr>
					<tr>
						<th class="white-cell">Row 5, Cell 1</td>
						<th class="white-cell">Row 5, Cell 2</td>
						<th class="white-cell">Row 5, Cell 3</td>
					</tr>
					<tr>
						<th class="white-cell">Row 6, Cell 1</td>
						<th class="white-cell">Row 6, Cell 2</td>
						<th class="white-cell">Row 6, Cell 3</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	



<!--
<center>
    <h1>
        {{titolo}}
    </h1>

    {% for utente in query_utenti %}
    <b>
        {{utente.nome}}, {{utente.cognome}}
    </b>
    {% endfor %}

    {% for news in object_list %}
    <ul>
        {{news.titolo}}<br>{{news.contenuto}}<br><br>
    </ul>
    {% endfor %}
    {% crispy form %}
</center>-->


{% endblock %}