{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_highlight.css'%}">

{% endblock %}

{% block title %}{{video.titolo}}{% endblock %}

{% block content %}

<div class="highlight-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
    <h1 class="ml-4 mt-1 f1-font-bold">{{video.titolo}}</h1> 
        <div class="query-page-selector-container" align="right">
            <h2 class="f1-font-bold mr-4 mt-3" style="text-align: right;">{{video.visualizzazioni}} visualizzazioni</h2>
            <a href="{% url 'media:highlight' %}" class="">
                <button class="query-page-selector-button mr-4 f1-font-regular mt-3">Torna agli Highlight</button>     
            </a>
        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>
    <div class="video-preview-container" >

        <video controls class="video mb-3 mt-1">
            <source src="{{video.video}}" type="video/mp4" >
            Il tuo browser non supporta i video HTML.
        </video>
        

    </div>
</div>
    
{% endblock %}