{% extends 'base.html' %}

{% load crispy_forms_tags %} 


{% block title %} F1 - Logout {{ form.user_group_name }} {% endblock %} 

{% block header1 %}
    <h1>Pagina di Logout</h1>
{% endblock %}

{% block content %} 

	<div class="card f1-font-regular ml-4 mr-4 mt-4 mx-auto" style="max-width: 700px;">
		<div class="ml-4 mr-4 mt-2 mb-2 mx-auto" style="max-width: 600px; display: flex; color: white;" align="center">
			<h2>Logout eseguito con successo</h2>
		</div>
	</div>

{% endblock %}

{% block footer %} {% endblock %}