<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

    <script src="{%static 'js/wallpaper.js'%}"></script>
    <script src="{%static 'js/navbar.js'%}"></script>

    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>

</head>


<body id='bg' style="background-image: url('{%static 'images/background.png'%}');">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <!-- Icona notifiche, utente e carrello (collassato) -->
        <a class="navbar-brand d-lg-none text-white ml-2" href="{% url 'store:profile' %}">
          	<i class="fa fa-user"></i>
        </a>
        {% if not user.gestore_circuito %}
        <a class="navbar-brand d-lg-none text-white ml-1" href="{% url 'store:cart' %}">
          	<i class="fa fa-shopping-cart {% if user.is_authenticated and user.utente.carrello.istanze_biglietti.count > 0 %}notification-color blink{% endif %}"></i>
        </a>
        {% endif %}
        <a class="navbar-brand d-lg-none text-white ml-1" href="{% url 'store:profile' %}">
            <i class="fa fa-bell {% if user.is_authenticated and user.utente.notifiche %}notification-color blink{% endif %}"></i>
        </a>

        <!-- Logo -->
        <a class="navbar-logo mx-auto" href="{% url 'media:homepage' %}">
          	<img src="{% static 'images/F1-Logo.png' %}" alt="Logo" width="90" height="60">
        </a>
        <!-- Menu a tre barre (collassato) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="toggler">
            <div class="container ml-auto" onclick="navbar_toggle(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>
        <!-- Link di navigazione (esteso) -->
        <div class="collapse navbar-collapse" id="navbarNav">
          	<ul class="navbar-nav mr-auto">
            	<li class="nav-item active">
              		<a class="nav-link f1-font-regular" href="{% url 'media:highlight' %}?page=1">Highlight</a>
            	</li>
            	<li class="nav-item">
              		<a class="nav-link f1-font-regular" href="{% url 'info:sessioni' %}">Sessioni</a>
            	</li>
            	<li class="nav-item">
              		<a class="nav-link f1-font-regular" href="{% url 'info:circuiti' %}">Circuiti</a>
            	</li>
            	<li class="nav-item">
              		<a class="nav-link f1-font-regular" href="{% url 'info:scuderie' %}">Scuderie</a>
            	</li>
            	<li class="nav-item">
                	<a class="nav-link f1-font-regular" href="{% url 'store:store' %}">Store</a>
            	</li>
                
          	</ul>
          	<!-- Icona notifiche, utente e carrello (esteso) -->
          	<ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown  f1-font-regular">
                            <a class="nav-link f1-font-regular mr-4" href="{% url 'store:profile' %}">Ciao, {{ user.username }}</a>
                            <div class="dropdown-content" align="left">
                                <a href="{% url 'store:profile' %}">Profilo</a>
                                {% if user.gestore_circuito %}
                                    <a href="{% url 'store:modify_gestore_update' pk=user.pk %}">Modifica profilo</a>
                                {% endif %}
                                {% if user.utente %}
                                    <a href="{% url 'store:modify_utente_update' pk=user.pk %}">Modifica profilo</a>
                                {% endif %}
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
       
                {% endif %}
                <li class="nav-item d-none d-lg-block">             </li>
                    <a class="nav-link mr-2" href="{% url 'store:profile' %}">
                        <i class="fa fa-bell {% if user.is_authenticated and user.utente.notifiche %}notification-color blink{% endif %}"></i>
                    </a>
                </li>
				<li class="nav-item d-none d-lg-block">
					<a class="nav-link mr-2" href="{% if user.is_superuser %}/admin/{% else %}{% url 'store:profile' %}{% endif %}">
						<i class="fa fa-user"></i>
					</a>
				</li>
                {% if not user.gestore_circuito %}
            	<li class="nav-item d-none d-lg-block">
              		<a class="nav-link mr-2" href="{% url 'store:cart' %}">
                		<i class="fa fa-shopping-cart {% if user.is_authenticated and user.utente.carrello.istanze_biglietti.count > 0 %}notification-color blink{% endif %}"></i>
              		</a>
            	</li>
                {% endif %}
          	</ul>
        </div>
    </nav>

    
    {% block content %}
    {% endblock %}




</body>
</html>
