{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_circuito.css'%}">

{% endblock %}

{% block title %}F1 - Circuiti{% endblock %}

{% block content %}

<div class="cir-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
        <h1 class="ml-4 mt-2 f1-font-bold mt-2">Circuiti</h1> 
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>
    <div class="cir-preview-container">
        
        {% for circuito in circuiti %}
            <a href="{% url 'info:circuito' pk=circuito.id %}" class="card-cir-preview cir-preview ml-4 mr-4 mb-2">
                <div>
                    <img class="circuit" src="{{circuito.preview}}" width="1920" height="1080">
                    <i class="icon icon-play cir-icon"></i>
                    
                </div>
                <div class="mt-2">
                    <p class="cir-name f1-font-regular">{{circuito.nome}}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
    
{% endblock %}