{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_sessioni.css'%}">

{% endblock %}

{% block title %}F1 - Sessioni{% endblock %}

{% block content %}

<div class="sessioni-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
        <h1 class="ml-4 mt-2 f1-font-bold mt-2">Risultati {{partecipazioni.0.sessione.tipo}} - {{partecipazioni.0.circuito.nome}}</h1> 
        <div class="query-page-selector-container mr-3" align="right">
            <a href="{% url 'info:sessioni' %}">
                <button class="query-page-selector-button mr-2 f1-font-regular mt-3">Torna alle sessioni</button>     
            </a>
        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>
        <!-- Tabella sessioni -->
        <div id="sessioni-table-div" class="card ml-4 mr-4 mb-4 mt-4">
            <table class="risultati-sessioni">
                <tr>
                    <th class="white-cell f1-font-bold"><h3>POSIZIONE</h3></th>
                    <th class="white-cell f1-font-bold"><h3>PILOTA<h3></th>
                    <th class="white-cell f1-font-bold"><h3>SCUDERIA</h3></th>
                    <th class="white-cell f1-font-bold"><h3>PUNTI</h3></th>
                    <th class="white-cell f1-font-bold"><h3>GIRO VELOCE</h3></th>
                </tr>
                {% for partecipazione in partecipazioni %}
                    <tr>
                        <th class="white-cell f1-font-regular">{{ partecipazione.posizione }}</td>
                        <th class="white-cell f1-font-regular">{{ partecipazione.pilota.nome }}</td>
                        <th class="white-cell f1-font-regular">{{ partecipazione.pilota.scuderia.nome }}</td>
                        <th class="white-cell f1-font-regular"> [PUNTI] </td>
                        <th class="white-cell f1-font-regular">{{ partecipazione.miglior_tempo }}</td>
                    </tr>
                {% endfor %}
                

            </table>
        </div>  
</div>
    
{% endblock %}