{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_sessioni.css'%}">

{% endblock %}

{% block title %}F1 - Sessioni{% endblock %}

{% block content %}

<div class="sessioni-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
        <h1 class="ml-4 mt-2 f1-font-bold mt-2">Risultati {{partecipazioni.0.sessione.tipo}} - {{partecipazioni.0.circuito.nome}}</h1> 
        <div class="query-page-selector-container mr-3" align="right">
            
            <div class="dropdown f1-font-regular">
                <button class="query-page-selector-button mt-3 mr-3">Sessioni disputate</button>
                <div class="dropdown-content" align="left">
                    
                    {% for sessione_effettuata in sessioni_effettuate %}
                        <a href="{% url 'info:risultato_sessione' pk=pk tipo_sessione=sessione_effettuata %}">{{ sessione_effettuata }}</a>
                    {% endfor %}

                </div>
            </div>

            <a href="{% url 'info:sessioni' %}">
                <button class="query-page-selector-button f1-font-regular mt-3 mr-2">Torna alle sessioni</button>     
            </a>
        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>

    <!-- Tabella sessioni -->
    <div id="sessioni-table-div" class="card ml-4 mr-4 mb-4 mt-4">
        <table class="risultati-sessioni">
            <tr>
                <th class="sessioni-cell f1-font-bold"><h3>POSIZIONE</h3></th>
                <th class="sessioni-cell f1-font-bold"><h3>PILOTA<h3></th>
                <th class="sessioni-cell f1-font-bold"><h3>SCUDERIA</h3></th>
                {% if partecipazioni.0.sessione.tipo != "qualifiche" %}
                    <th class="sessioni-cell f1-font-bold"><h3>PUNTI</h3></th>
                {% endif %}
                <th class="sessioni-cell f1-font-bold"><h3>GIRO VELOCE</h3></th>
            </tr>
            {% for partecipazione in partecipazioni %}
                <tr>
                    <th class="sessioni-cell f1-font-regular">{{ partecipazione.posizione }}</td>
                    <th class="sessioni-cell f1-font-regular"><a class="de-link" href="{% url 'info:pilota' pk=partecipazione.pilota.id %}">{{ partecipazione.pilota.nome }}</a></td>
                    <th class="sessioni-cell f1-font-regular"><a class="de-link" href="{% url 'info:team' pk=partecipazione.pilota.scuderia.id %}">{{ partecipazione.pilota.scuderia.nome }}</a></td>
                    {% if partecipazione.sessione.tipo != "qualifiche" %}
                        <th class="sessioni-cell f1-font-regular">{{ partecipazione.punti }}</td>
                    {% endif %}
                    <th class="sessioni-cell f1-font-regular">{{ partecipazione.miglior_tempo }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>  
</div>
    
{% endblock %}