{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}

{% block head %} 

	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style_sessioni.css'%}">

{% endblock %}

{% block title %}F1 - Sessioni{% endblock %}

{% block content %}

<div class="sessioni-container mt-4 ml-4 mr-4 mb-4 text-white">
    <div class="query-page-selector-container" align="right">
    <h1 class="ml-4 mt-2 f1-font-bold mt-2">Sessioni</h1> 
        <div class="query-page-selector-container mt-2" align="right">
        </div>
    </div>
    <hr class="solid ml-4 mr-4 divisore"></hr>
    <!-- Tabella sessioni -->
    <div id="sessioni-table-div" class="card ml-4 mr-4 mb-4 mt-4">
        <table class="risultati-sessioni">
            <tr>
                <th class="sessioni-cell f1-font-bold"><h3>GRAN PREMIO</h3></th>
                <th class="sessioni-cell f1-font-bold"><h3>DATA<h3></th>
                <th class="sessioni-cell f1-font-bold"><h3>VINCITORE</h3></th>
                <th class="sessioni-cell f1-font-bold"><h3>SCUDERIA</h3></th>
                <th class="sessioni-cell f1-font-bold"><h3>GIRI</h3></th>
            </tr>
            {% for partecipazione in partecipazioni %}
                <tr>
                    <th class="sessioni-cell f1-font-regular">
                        <a class="link-sessione" href="{% url 'info:risultato_sessione' pk=partecipazione.circuito.id tipo_sessione=partecipazione.sessione.tipo %}">
                            {{ partecipazione.circuito.nome }}
                        </a>
                    </td>
                    
                    <th class="sessioni-cell f1-font-regular">{{ partecipazione.data }}</td>
                    <th class="sessioni-cell f1-font-regular">{{ partecipazione.pilota.nome }}</td>
                    <th class="sessioni-cell f1-font-regular">{{ partecipazione.pilota.scuderia.nome }}</td>
                    <th class="sessioni-cell f1-font-regular">{{ partecipazione.circuito.numero_giri }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>  
</div>
    
{% endblock %}